<!DOCTYPE html>

<title>試合結果</title>

<head>
<body>
    <h1>試合結果登録</h1>
<form action="" method="post">
   <p>得点：
   <input type="text" name="score" value="－">
   </p>
   <p>結果：
    <input type="radio" name="" value="">勝ち
    <input type="radio" name="" value="">引き分け
    <input type="radio" name="" value="">負け
   </p>
    
    <p>MOM選手：
    <select name="mom" >
     <option value="">〇〇〇〇</option>
     <option value="">？？？？</option>
    </select>
    </p>
    <p>コメント</p>
    <textarea name="comment" id="" cols="50" rows="10"></textarea> 
    <p><input type="submit" value="登録"></p>
    
</form>
</body>

</head>