<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>選手一覧</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<h1>選手一覧</h1>
<p><a th:href="@{/add}">選手登録</a></p>
<p><a th:href="@{/}">トップページに戻る</a></p>
<table class="table table-hover">
   <thead>
      <tr>
         <th>背番号</th>
         <th>名前</th>
         <th>詳細</th>
      </tr>
   </thead>
   <tbody>
      <tr th:each="m : ${members}">
        <td th:text="${m.number}"></td>
        <td th:text="${m.name}"></td>
        <td>削除</td>
      </tr>
   </tbody>
</table>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>